<div class="row">
  <fieldset>
    <%= render 'layouts/feedback' %>
    <%= form_for :session, url: sessions_path do |f| %>
      <h4>Sign In</h4>
      <%= label_tag :email %>
      <%= f.email_field :email, placeholder: "JohnDoe@example.com"  %>
      <%= label_tag :password %>
      <%= f.password_field :password, placeholder: "Password"  %>
      <%= f.submit "Login", class: "button tiny"%>
    <% end %>
  </fieldset>
</div>