<%= form_for [:user, @person] do |f| %>
  <fieldset>
  <% if @person.errors.any? %>
    <div class="panel">
      <p class="alert label"><%= pluralize(@person.errors.count, "error") %> prohibited
        this person from being created:</p>
        <% @person.errors.full_messages.each do |msg| %>
          <label class="error"><%= msg %></label>
        <% end %>
    </div>
  <% end %>
  <h4>New Person</h4>
  <%= label_tag :name %>
  <%= f.text_field :name, placeholder: "John" %>
  <%= label_tag :email %>
  <%= f.email_field :email, placeholder: "JohnDoe@example.com"  %>
  <%= f.submit "Create Person" , class: "button tiny"%>
  </fieldset>
<% end %>