<div class="row">
  <fieldset>
    <%= render 'layouts/feedback' %>
    <% if @users %>
    <% @users.each do |user| %>
      <div data-alert class="small-3 alert-box secondary columns">
        <ul class="vcard">
          <li><img class='circle person' src="http://www.gravatar.com/avatar/<%= user.gravatar_hash %>?s=150&d=mm"></li>
          <li class="fn"><%= user.name %></li>
          <li class="email"><small><%= mail_to user.email %></li>
          <% if user.teams.any? %>
          <% user.teams.each do |team| %>
          <li class="team"><small><%= team.name %></small></span>
          <% end %>
          <% end %>
        </ul>
        <%= link_to 'x', user_path(user), method: :delete, class: "close" %>
      </div>
    <% end %>
    <% end %>
  </fieldset>
</div>