<%= form_for :user, :url => users_path do |f| %>
  <fieldset>
  <%= render partial: 'errors/error_report', locals: {type: @user} %>
  <h4>Sign Up</h4>
  <%= label_tag :name %>
  <%= f.text_field :name, placeholder: "John" %>
  <%= label_tag :email %>
  <%= f.email_field :email, placeholder: "JohnDoe@example.com"  %>
  <%= label_tag :password %>
  <%= f.password_field :password, placeholder: "Password"  %>
  <%= label_tag :password_confirmation %>
  <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
  <%= f.submit "Sign up" , class: "button tiny"%>
  </fieldset>
<% end %>