<div class="row">
  <fieldset>
    <%= render 'layouts/feedback' %>
    <div class="large-4 columns large-centered">
    <ul class="vcard large-12 columns">
      <li><img class='circle person' src="http://www.gravatar.com/avatar/<%= @user.gravatar_hash %>?s=150&d=mm"></li>
      <li class="fn"><%= @user.name %></li>
      <li class="email"><small><%= mail_to @user.email %></li>
      <% if @teams.any? %>
        <% @teams.each do |team| %>
          <li class="team"><small><%= team.name %></small></span>
        <% end %>
      <% end %>
    </ul>
    </div>
  </fieldset>
</div>