<div class="contain-to-grid sticky">
  <nav class="top-bar">
    <!-- Title Area -->
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to 'DUO', root_path %></h1>
        </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <!-- Nav Left Area -->
      <ul class="left">
        <% if authorized? %>
        <li><%= link_to 'Admin Panel', new_team_path %></li>
        <% end %>
      </ul>
      <!-- Nav Right Area -->
      <ul class="right">
        <% if logged_in? %>
        <li><a href="/users/<%= current_user.id %>"><%= current_user.name %>&nbsp;<img class='circle' src="http://www.gravatar.com/avatar/<%= current_user.gravatar_hash %>?s=30&d=mm"></a></li>
        <li><%= link_to 'Sign Out', signout_path, method: :delete %></li>
        <% else %>
        <li><%= link_to 'Create User', signup_path %></li>
        <li><%= link_to 'Sign In', signin_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>