<!DOCTYPE html>
<html>
  <head>
    <title>Duo</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='container'>
    <%= render 'layouts/navigation' %>

    <%= yield %>
    <%= javascript_include_tag "application" %>
    </div>
  </body>
</html>
